body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  .logo {
    text-align: center;
    margin: 20px 0;
  }
  
  .logo img {
    max-width: 120px;
  }
  
 
  a h3 {
    text-align: start;
    text-decoration: none;
    color: #007bff;
    margin: 10px 0;
  }


.store {
    display: flex; 
    flex-wrap: nowrap; 
    align-items: flex-start; 
    max-width: 60%; 
    margin: 40px auto; 
    gap: 20px; 
    overflow: hidden; 
  }
  
  
  .text-container {
    width: 50%; 
    max-width: 50%; 
    overflow-wrap: break-word; 
    word-break: break-word; 
  }
  
  .text-container h1 {
    margin-bottom: 10px; 
    font-size: 2rem; 
  }
  
  .text-container .description {
    margin: 0; 
    font-size: 1rem; 
    line-height: 1.5; 
    text-align: justify; 
  }
  
  
  .store img {
    width: 50%;
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    border-radius: 5px; 
  }
  


  
  
  .location {
    width: 100%; 
    text-align: left; 
    margin-top: 20px; 
    font-size: 1.3rem; 
    font-weight: bold; 
    color: #333; 
  }
  
